@model List<blog.Models.customer>
@{
    ViewData["Title"] = "AllUsers";
    Layout = "~/Views/Shared/_mainlayout.cshtml";
}


@*///////////////////   search*@
<link href="~/css/search.css" rel="stylesheet" />
<form>
<div class="container" style="margin-top:-400px;margin-bottom:-400px;">

    <div class="row height d-flex justify-content-center align-items-center">

        <div class="col-md-8">

            <div class="search">
                <i class="fa fa-search"></i>
                <input type="text" class="form-control" placeholder="Search For Any User ..!" name="search">
                <button class="btn btn-primary" style="margin-top:-1px;">@Html.ActionLink("Search","AllUsers","admeen")</button>
            </div>

        </div>

    </div>
</div>
</form>
 @*/////////////////////////////      *@


<!DOCTYPE html>
<html>
<head>
    <title>Cards</title>
</head>

<style type="text/css">


    * {
        margin: 0px;
        padding: 0px;
    }

    body {
        font-family: arial;
    }

    .main {
        margin: 2%;
    }

    .card {
        width: 20%;
        display: inline-block;
        box-shadow: 2px 2px 20px black;
        border-radius: 5px;
        margin: 2%;
    }

    .image img {
        width: 100%;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
    }

    .title {
        text-align: center;
        padding: 10px;
    }

    h1 {
        font-size: 20px;
    }

    .des {
        padding: 3px;
        text-align: center;
        padding-top: 10px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
    }
     .b1 {
        margin-top: 40px;
        margin-bottom: 10px;
        background-color:red;
        border: 1px solid black;
        border-radius: 5px;
        padding: 10px;
        font-weight: bolder;
    }
    .b2 {
        margin-top: 40px;
        margin-bottom: 10px;
        background-color:cadetblue;
        border: 1px solid black;
        border-radius: 5px;
        padding: 10px;
        font-weight: bolder;
    }

    .b3 {
        margin-top: 40px;
        margin-bottom: 10px;
        background-color:forestgreen;
        border: 1px solid black;
        border-radius: 5px;
        padding: 10px;
        font-weight:bolder;
        
    }
    button {
        margin-top: 40px;
        margin-bottom: 10px;
        background-color:gray;
        border: 1px solid black;
        border-radius: 5px;
        padding: 10px;
        font-weight: bolder;
    }
   
        button:hover {
            background-color:aqua;
            color: white;
            transition: .5s;
            cursor: pointer;
        }

</style>
<body>

    <div class="main">

        <!--cards -->
        @foreach (var x in Model)
        {
            <div class="card" style="">

                <div class="image">
                    <img style="height:350px" src="~/attaches/@x.photo">
                </div>
                <div class="title">
                    <h1>
                        @x.username
                    </h1>
                </div>
                <div class="des">
                    <p>@x.email</p>
                    @*<p>posted:21</p>*@
                    <button >@Html.ActionLink("Profile", "ShowUserProfile", "admeen",new{Id=x.Id})</button>                             
                    <button class="b2" >@Html.ActionLink("Postst", "yournews", "newsController1",new{Idd=x.Id}) </button>
                    <button class="b3">@Html.ActionLink("complaints", "complaints", "user",new{Idd=x.Id}) </button>
                    <button class="b1" >@Html.ActionLink("delete", "deleteuser", "admeen",new{Id=x.Id})</button>
                    
                </div>
            </div>
            <!--cards -->
        }

    </div>
</body>
</html>

