@model blog.Models.customer
@{
    ViewData["Title"] = "ShowUserProfile";
    Layout = "~/Views/Shared/_mainlayout.cshtml";
}

<link href="~/css/profile.css" rel="stylesheet" />
<section class="section about-section gray-bg" id="about">
    <div class="container">
        <div class="row align-items-center flex-row-reverse">
            <div class="col-lg-6">
                <div class="about-text go-to">
                    <h3 class="dark-color" style="margin-top:-100px;mmargin-left:100px">WELLCOM</h3>

                    <div class="row about-list">
                        <div class="col-md-6">

                            <div class="media">
                                <label>Age</label>
                                <p>@Model.age Yr</p>
                            </div>
                            <div class="media">
                                <label>Residence</label>
                                <p>Egypt</p>
                            </div>
                            <div class="media">
                                <label>Address</label>
                                <p>@Model.adress</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="media">
                                <label>E-mail</label>
                                <p>@Model.email</p>
                            </div>
                            <div class="media">
                                <label>Password</label>
                                <p>@Model.password</p>
                            </div>

                            <div class="media">
                                <label>Id</label>
                                <p>@Model.Id</p>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

            <div class="col-lg-6">
                <div class="about-avatar">
                    <img style="height:500px;width:900px;padding:10px" src="/attaches/@Model.photo" class="small-img" alt="" />

                </div>
            </div>

        </div>

        
    </div>
</section></html>

